<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMT.Applications.Phoenix.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="SMT Phoenix"/>
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SMT.Applications.Phoenix.My.MySettings>
            <setting name="PLAYER_ASPECT_RATIO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RECENT_PROJECTS" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_PROFILE_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="DEFAULT_PROFILE" serializeAs="String">
                <value>STANDARD</value>
            </setting>
            <setting name="APPLICATION_NAME" serializeAs="String">
                <value>SMT Phoenix</value>
            </setting>
            <setting name="LAST_STREAM_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_PROJECT" serializeAs="String">
                <value />
            </setting>
            <setting name="PLAYER_REGION" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLAYER_AUDIO_LANG" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="PLAYER_AUDIO_LANG_EXT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLAYER_SUB_LANG" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="PLAYER_SUB_LANG_EXT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLAYER_MENU_LANG" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="PLAYER_PARENTAL_LEVEL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLAYER_PARENTAL_COUNTRY" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="UOP_TEMPLATES" serializeAs="String">
                <value />
            </setting>
            <setting name="WINDOW_MAIN_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WINDOW_MAIN_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WINDOW_VIEWER_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WINDOW_VIEWER_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PREFERRED_AV_MODE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPGRADE_SETTINGS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PREFERRED_HDMI_RESOLUTION" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PREFERRED_HDMI_MAXIMIZED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PREFERRED_HDMI_SCALINGMODE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DVD_NOTIFY_NONSEAMLESSCELL" serializeAs="String">
                <value>False</value>
            </setting>
        </SMT.Applications.Phoenix.My.MySettings>
    </userSettings>
</configuration>
